*{
    margin: 0;
    padding: 0;
    font-family: "roboto","Noto Sans Myanmar UI",arial,sans-serif;
}

.Create-form-container{
    height: 50vh;
    max-width: fit-content;
    box-shadow: 0 0 5px 1px;
    border-radius: 5px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 30px;
}

.logo-signIn{
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}
.sign-up-text{
    line-height: 25px;
    margin-bottom: 20px;
}

.Create-form-container input{
    min-width: 390px;
    outline: none;
    border: thin solid gray;
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
}

#submit{
    border: none;
    outline: none;
    background-color: #4285f4;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}

a{
    line-height: 40px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}