*{
    margin: 0;
    padding: 0;
    font-family: "roboto","Noto Sans Myanmar UI",arial,sans-serif;
}

.container-signin{
    min-height: 50vh;
    max-width: fit-content;
    box-shadow: 0 0 5px 1px;
    border-radius: 5px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 30px;
}

.logo-signIn{
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}
.sign-in-text{
    line-height: 30px;
    font-size: 1.5rem;

}
.continue-text{
    line-height: 30px;
    margin-bottom: 20px;
}
form input{
    min-width: 390px;
    outline: none;
    border: thin solid gray;
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 20px;

}
.hyper-link{
    line-height: 40px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.create-account-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.create-account-container button{
    border: none;
    outline: none;
    background-color: #4285f4;
    color: white;
    border-radius: 5px;
    padding: 0 30px;
    cursor: pointer;
}